---
import Image from "astro/components/Image.astro";
import Logo from "../../public/images/aldo_beltran_logo.svg";

interface Props {
  title: string;
  subtitle: string;
}
const { title, subtitle } = Astro.props as Props;
---

<header class="w-screen h-screen flex justify-center
items-center px-2">
  <section
    class="max-w-screen-xl flex flex-col items-center justify-center gap-8"
  >
    <Image src={Logo} alt="Logo Aldo" class="w-32" loading="eager" />
    <h2 class="text-sm text-[#C7BBA3] text-center font-light italic">
      {subtitle}
    </h2>

    <slot />
  </section>
</header>
